* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: #1a5fb4;
  text-decoration: underline;
  text-underline-offset: 2px;
}

a:hover {
  color: #0b4ea2;
}

a, audio, b, body, center, dd, div, dl, dt, embed, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, input, label, li, menu, nav, object, ol, output, p, ruby, section, span, table, tbody, td, textarea, tfoot, th, thead, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;}
  
body {
	background-repeat: repeat-y;
	width: auto;
	margin: 0;
  font-family: var(--font-roboto), sans-serif;
}
